<div class="page page-collage2">
    {% if page.photos|length >= 1 %}
    <div class="polaroid photo-left">
        <img src="{{ page.photos[0].print_path }}">
        <div class="tape tape-h" style="position:absolute; top:-3mm; left:40mm; transform:rotate(-4deg);"></div>
    </div>
    {% endif %}
    {% if page.photos|length >= 2 %}
    <div class="polaroid photo-right">
        <img src="{{ page.photos[1].print_path }}">
        <div class="tape tape-h" style="position:absolute; top:-3mm; left:35mm; transform:rotate(6deg);"></div>
    </div>
    {% endif %}
    <div class="page-number">{{ page.page_number }}</div>
</div>
