<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ css_path }}">
</head>
<body>
    {% for page in pages %}
        {% if page.template == 'cover' %}
            {% include 'pages/cover.html' %}
        {% elif page.template == 'dedication' %}
            {% include 'pages/dedication.html' %}
        {% elif page.template == 'full_bleed' %}
            {% include 'pages/full_bleed.html' %}
        {% elif page.template == 'two_photo' %}
            {% include 'pages/two_photo.html' %}
        {% elif page.template == 'three_photo' %}
            {% include 'pages/three_photo.html' %}
        {% elif page.template == 'quote_page' %}
            {% include 'pages/quote_page.html' %}
        {% elif page.template == 'photo_quote_overlay' %}
            {% include 'pages/photo_quote_overlay.html' %}
        {% elif page.template == 'back_cover' %}
            {% include 'pages/back_cover.html' %}
        {% endif %}
    {% endfor %}
</body>
</html>
